.Rproj.user
.Rhistory
.RData
.Ruserdata
Prepare_Kaggle_Submission.R
Rplot.png
app_train1.RDS
app_train2.RDS
application_test.csv
best_features.RDS
best_model_tuned1.xgb
best_model_tuned_100.xgb
best_model_tuned_100_60.xgb
best_model_tuned_100_60.tune
best_model_tuned_50_55.tune
submission.csv
best_model_tuned_50.xgb
best_model_tuned_50_55.xgb
best_model_tuned_50_60.tune
best_model_tuned_50_70.tune
best_model_tuned_50_60.xgb
best_model_tuned_50_70.xgb
desired_columns_test.csv
trainnames.csv
xgboost_prelim.R
testnames.csv
